<!DOCTYPE html>
<html>
<head>
	<title>Roopesh Namdev </title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <style type="text/css">
  .banner{
background-image: url('../img/banner.png');
background-size: cover;
min-height: 600px;
background-attachment: fixed;
text-align: center;
background-position: center top;
}
.profile h2 {
/*background: #fff;*/
margin: 0;
padding: 0.5em;
box-shadow: 0px 3px 3px rgba(0,0,0,.3);
}
.profile img {
border-radius: 50%;
margin-top: -80px;
}
.profile span {
font-size: .8em;
font-weight: normal;
color: #505050;
}
.profile{
text-align: center;

}
.profile-img{

}
.about {
text-align: center;
font-size: 1.2em;
color: #555555;
margin-top: 2em;
}
.container {
/*padding: 5px 30px;*/
}
.container h3 {
text-align: center;
color: #202020;
}
.container .projects{

}
.project-det{
text-align: center;
margin-top: 15px;
margin-bottom: 10px;
}
.project-det h4 {
padding-bottom: 0.2em;
}.project-det a{
color: #fff;
background-color: #1576BA;
padding: .5em 1em;
margin: .5em;
border-radius: 5px;
font-size: 1.2em;
box-shadow: 0px 6px 0px #7b7979;
-webkit-box-shadow: 0px 6px 0px #7b7979;
  transition-duration: .3s;
  top: 0px;
  position: relative;
  transform-origin: top;
}
.project-det a:hover, .project-det a:focus{
text-decoration: none;
background-color: #0966a7;
color: #fff;
}
.project-det a:active {
  box-shadow: 0px 2px 0px;
  -webkit-box-shadow: 0px 2px 0px;
  top: 5px;
  position: relative;
}
.project-det img {
border-radius: 10px;
}
.bg-1{
background-image: url("../img/bg-1.jpg");
background-size: cover;
}
.next-prev {
text-align: center;
margin: 3em auto;
}
.next-prev a {
padding: .5em;
margin: .2em;
}
.next::after {
background-image: url("../img/next.png");
background-repeat: no-repeat;
content: " ";
width: 30px;
height: 30px;
display: inline-block;
margin: auto;
}
.prev::before {
background-image: url("../img/prev.png");
background-repeat: no-repeat;
content: " ";
width: 30px;
height: 30px;
display: inline-block;
margin: auto;
}

  </style>
</head>
<body class="bg-1">
	<div class="banner">
      {{> header}}
	</div>
	<div class="profile">
		<div class="profile-img">
			<img src="img/profile.jpg" />
			<h2>Roopesh Namdev <br/> <span>Web &amp; Graphic Designer...</span></h2>
		</div>
	</div>
	<div class="container about">
			<p>My Self Roopesh (Wordpress and Square Space Developer) and i do have a strong knowledge and experience over Website Development and Design in Wordpress. <br/>
			I have used so many theme but use Avada the most and recommend it to my clients as well.<br/>
			After Wordpress there is one more framework i use the most which is square space, i have developed large amount of websites in square space as well.<br/>
			I believe in Client Satisfaction and that is the major priority for me, I know the time and deadline which mean a lot to me, so i always believe to deliver the work before deadline.</p>
	</div>
	<div class="clearfix"></div>
	<div class="container projects">
		<h3>Projects</h3>
		<div class="">
			<div class="project-det col-md-4 col-sm-4">
				<img class="img-responsive center-block" src="img/1.jpg"/>
				<h4>Launch Systems</h4>
				<a href="http://www.launchav.com/" target="_blank"> view</a>
			</div>
			<div class="project-det col-md-4 col-sm-4">
				<img class="img-responsive center-block" src="img/2.jpg"/>
				<h4>Digital Vibe</h4>
				<a href="https://digitalvibe.co/" target="_blank"> view</a>
			</div>
			<div class="project-det col-md-4 col-sm-4">
				<img class="img-responsive center-block" src="img/3.jpg"/>
				<h4>Elise Snow</h4>
				<a href="http://elisesnow.co.uk/" target="_blank"> view</a>
			</div>
			<div class="project-det col-md-4 col-sm-4">
				<img class="img-responsive center-block" src="img/4.jpg"/>
				<h4>Kratom Capsules</h4>
				<a href="http://kratom-capsules.us/" target="_blank"> view</a>
			</div>
			<div class="project-det col-md-4 col-sm-4">
				<img class="img-responsive center-block" src="img/5.jpg"/>
				<h4>Speak Life </h4>
				<a href="http://thespeaklifefoundation.org/" target="_blank"> view</a>
			</div>
			<div class="project-det col-md-4 col-sm-4">
				<img class="img-responsive center-block" src="img/6.jpg"/>
				<h4>Dr Bryce Fleming</h4>
				<a href="http://www.drbrycefleming.com.au/" target="_blank"> view</a>
			</div>
			<div class="project-det col-md-4 col-sm-4">
				<img class="img-responsive center-block" src="img/7.jpg"/>
				<h4>Paaojaf</h4>
				<a href="http://paajaf.org/" target="_blank"> view</a>
			</div>
			<div class="project-det col-md-4 col-sm-4">
				<img class="img-responsive center-block" src="img/8.jpg"/>
				<h4>Green Building</h4>
				<a href="https://www.gbrionline.org/" target="_blank"> view</a>
			</div>
			<div class="project-det col-md-4 col-sm-4">
				<img class="img-responsive center-block" src="img/9.jpg"/>
				<h4>Oni Design</h4>
				<a href="http://www.weareoni.com/" target="_blank"> view</a>
			</div>
			<div class="clearfix"></div>
			<div class="next-prev">
				<a href="#" class="prev"> </a>
				<a href="page2.html" class="next"> </a>
			</div>
		</div>

		<div class="footer">
			<div class="col-md-4 col-sm-4">

			</div>
			<div class="col-md-4 col-sm-4">

			</div>
			<div class="col-md-4 col-sm-4">

			</div>
    {{> footer}}
		</div>
	</div>
</body>
</html>
